// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .background {
//   background: url(http://hdw.datawallpaper.com/abstract/nuts-desktop-background-573673.jpg) no-repeat;
//   background-size: 100%;
//   overflow: scroll;
//   position: relative;
// }

.carousel-inner img{
  width: 200px;
  height: 200px;
  margin: auto;
}

h1 {
    text-align: center;
}
.main {
  margin-top: auto;
  margin-right: 5px;
  margin-bottom: auto;
  margin-left: 5px;
}
.main img {
  width: 250px;
  height: 250px;
  border-radius: 180%;
}

.product {
  width: 400px;
  text-align: center;
  margin: auto;
}

.product img {
  border-radius: 45%;
  width: 400px;
  height: 400px;
}

