// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carousel-inner img{
  width: 50%;
  height: 50%;
  margin: auto;
}

h1 {
    text-align: center;
}

.main img {
  width: 250px;
  height: 250px;
  border-radius: 180%;
}

h3 img {
  width: 500px;
  height: 500px;
  border-radius: 45%;
  margin: auto;
  
}

