// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#carousel-example-generic {
  min-height: 200px;
}

.carousel-inner img{
  width: 400px;
  height: 400px;
  margin: auto;
}

h1 {
    text-align: center;
}
.main {
  margin-top: auto;
  margin-right: 5px;
  margin-bottom: auto;
  margin-left: 5px;
}
.main img {
  width: 250px;
  height: 250px;
  border-radius: 180%;
}

.product {
  width: 400px;
  text-align: center;
  margin: auto;
}

.product img {
  border-radius: 45%;
  width: 400px;
  height: 400px;
}

.button .btn .btn-default .navbar-btn {
  width: 100%;
  margin-left: 1500px;
}

