// Place all the styles related to the suppliers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.supplier {
  font-size: 26px;
}

.suppliers {
  margin: 10px;
  border: gray 2px solid;
  font-size: 20px;
}
